.button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "Bitter", serif;
  line-height: 1.8;
  box-shadow: none;
  border-radius: 0;
  color: #6496c8;
  border: solid 4px #6496c8;
  background: rgba(0,0,0,0);
}

.button:hover {
  border-color: #346392;
  color: #346392;
}

.button:active {
  border-color: #27496d;
  color: #27496d;
}

.button-sm {
  font-size: 15px;
}

.button-md {
  font-size: 25px;
}

.button-lg {
  font-size: 45px;
}