<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="profile.css">

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>

    <title>Profile Card</title>
</head>
<body>
    <div class="page-wrapper">

        <div class="intro">
            <h1><span class="small">Hi, <i>I'm </i></span><em>Christopher,</em> <span class="small"><i>a</i> modern.developer student <i>inspiring to be a </i></span><em>front-end developer.</em></h1>
        </div>

        <div class="aboutme-heading">
            <h2 data-numbered="01/" class="aboutme">About<br>Me</h2>

        </div>

        <div class="images">
            <a href="#"><img src="http://placehold.it/125x150"></a>
            <a href="#"><img src="http://placehold.it/125x150"></a>
            <a href="#"><img src="http://placehold.it/125x150"></a>
        </div>


        <div class="text">
            <p>Hello, my names Christopher and I am currently a student at modern.developer with a goal of becoming a front-end developer. I am a 26-year-old software analyst working at a healthcare software company. My job responsibilities include troubleshooting software issues and working with development to improve our product. Though this is not my preferred line of work, it has taught me a lot about software practices. When I’m not working, I spend a lot of my off time reading up on philosophy, meditating, and weightlifting.  I believe that self-improvement is one of the most important aspects of life and I put a lot of effort into doing so. I also enjoy spending time with friends and occasionally play computer games. Hope you enjoyed a little about me! </p>
        </div>

    </div>
</body>
</html>
