<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit Card Info</title>

    <link rel="stylesheet" type="text/css" href="card.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="page-wrapper">
    <form>
        <h1>Credit/Debit Card Information</h1>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" placeholder="">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" placeholder="">
        <div id="card-float-left">
            <label for="cardnumber">Card Number</label>
            <input type="text" id="cardnumber" name="cardnumber" maxlength="19">
        </div>
        <div id="card-float-right">
            <label for="csv" id="csv-label">CSV Code</label>
            <input type="text" id="csv" name="csv">
        </div>
        <div id="exp-float-left">
            <label for="month">Expiration Month</label>
            <select name="month" id="month" onchange="" size="1">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div id="exp-float-right">
            <label for="year">Expiration Year</label>
            <select name="year" id="year" onchange="" size="1">
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
            </select>
        </div>

        <input class="button" type="submit" value="Submit Your Information">
    </form>
</div>
</body>
</html>