<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="login.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="page-wrapper">
        <form>
            <h1>Login</h1>
            <label for="email" id="email_label">Email</label>
            <input type="text" id="email" name="email" placeholder="johndoe@example.com">
            <label for="password" id="password_label">Password</label>
            <input type="password" id="password" name="password">
            <input type="checkbox" name="rememberme" id="rememberme" value="rememberme"/><label>Remember Me</label>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>


</body>
</html>