<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheduling Form</title>

    <link rel="stylesheet" type="text/css" href="search.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="page-wrapper">
        <h1 id="searchtitle">Search Form</h1>
        <label for="food">Category:</label>
        <select id="food">
            <option value="icecream">Ice Cream</option>
            <option value="sushi">Sushi</option>
            <option value="pizza">Pizza</option>
            <option value="pasta">Pasta</option>
            <option value="barbeque">Barbeque</option>
            <option value="Steak">Steak</option>
        </select>
        <input type="text" id="search" name="search" placeholder="Search Here">
        <input class="button" type="submit" value="Submit">
    </div>

</body>
</html>